<a href="https://colab.research.google.com/github/imammarzuki/pandas_dasar/blob/main/28_MethodFiltering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Pandas DataFrame – Method Filtering duplicated()

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [13]:
import pandas as pd
df=pd.read_csv("drive/MyDrive/pandas_dasar/Data/employees.csv")

In [14]:
df

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
0,Douglas,Male,8/6/1993,12:42 PM,97308,6.945,True,Marketing
1,Thomas,Male,3/31/1996,6:53 AM,61933,4.170,True,NaN
2,Maria,Female,4/23/1993,11:17 AM,130590,11.858,False,Finance
3,Jerry,Male,3/4/2005,1:00 PM,138705,9.340,True,Finance
4,Larry,Male,1/24/1998,4:47 PM,101004,1.389,True,Client Services
...,...,...,...,...,...,...,...,...
995,Henry,NaN,11/23/2014,6:09 AM,132483,16.655,False,Distribution
996,Phillip,Male,1/31/1984,6:30 AM,42392,19.675,False,Finance
997,Russell,Male,5/20/2013,12:39 PM,96914,1.421,False,Product
998,Larry,Male,4/20/2013,4:45 PM,60500,11.985,False,Business Development
999,Albert,Male,5/15/2012,6:24 PM,129949,10.169,True,Sales

In [16]:
df["First Name"]

0      Douglas
1       Thomas
2        Maria
3        Jerry
4        Larry
        ...
995      Henry
996    Phillip
997    Russell
998      Larry
999     Albert
Name: First Name, Length: 1000, dtype: object

In [17]:
df.sort_values("First Name", inplace=True)

In [18]:
df["First Name"].duplicated()
#sama dengan df["First Name"].duplicated(keep="first")

101    False
327     True
440     True
937     True
137    False
       ...
902     True
925     True
946     True
947     True
951     True
Name: First Name, Length: 1000, dtype: bool

In [19]:
df["First Name"]

101    Aaron
327    Aaron
440    Aaron
937    Aaron
137     Adam
       ...
902      NaN
925      NaN
946      NaN
947      NaN
951      NaN
Name: First Name, Length: 1000, dtype: object

In [7]:
df

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
101,Aaron,Male,2/17/2012,10:20 AM,61602,11.849,True,Marketing
327,Aaron,Male,1/29/1994,6:48 PM,58755,5.097,True,Marketing
440,Aaron,Male,7/22/1990,2:53 PM,52119,11.343,True,Client Services
937,Aaron,NaN,1/22/1986,7:39 PM,63126,18.424,False,Client Services
137,Adam,Male,5/21/2011,1:45 AM,95327,15.120,False,Distribution
...,...,...,...,...,...,...,...,...
902,NaN,Male,5/23/2001,7:52 PM,103877,6.322,NaN,Distribution
925,NaN,Female,8/23/2000,4:19 PM,95866,19.388,NaN,Sales
946,NaN,Female,9/15/1985,1:50 AM,133472,16.941,NaN,Distribution
947,NaN,Male,7/30/2012,3:07 PM,107351,5.329,NaN,Marketing
951,NaN,Female,9/14/2010,5:19 AM,143638,9.662,NaN,NaN

In [20]:
df["First Name"].duplicated(keep="last")

101     True
327     True
440     True
937    False
137     True
       ...
902     True
925     True
946     True
947     True
951    False
Name: First Name, Length: 1000, dtype: bool

In [21]:
df["First Name"].duplicated(keep=False)

101    True
327    True
440    True
937    True
137    True
       ...
902    True
925    True
946    True
947    True
951    True
Name: First Name, Length: 1000, dtype: bool

In [22]:
df1=pd.read_csv("drive/MyDrive/pandas_dasar/Data/employees.csv")

In [23]:
df1

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
0,Douglas,Male,8/6/1993,12:42 PM,97308,6.945,True,Marketing
1,Thomas,Male,3/31/1996,6:53 AM,61933,4.170,True,NaN
2,Maria,Female,4/23/1993,11:17 AM,130590,11.858,False,Finance
3,Jerry,Male,3/4/2005,1:00 PM,138705,9.340,True,Finance
4,Larry,Male,1/24/1998,4:47 PM,101004,1.389,True,Client Services
...,...,...,...,...,...,...,...,...
995,Henry,NaN,11/23/2014,6:09 AM,132483,16.655,False,Distribution
996,Phillip,Male,1/31/1984,6:30 AM,42392,19.675,False,Finance
997,Russell,Male,5/20/2013,12:39 PM,96914,1.421,False,Product
998,Larry,Male,4/20/2013,4:45 PM,60500,11.985,False,Business Development
999,Albert,Male,5/15/2012,6:24 PM,129949,10.169,True,Sales

In [24]:
kond = ~df1["First Name"].duplicated(keep=False)
df1[kond]

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
5,Dennis,Male,4/18/1987,1:35 AM,115163,10.125,False,Legal
8,Angela,Female,11/22/2005,6:29 AM,95570,18.523,True,Engineering
33,Jean,Female,12/18/1993,9:07 AM,119082,16.180,False,Business Development
190,Carol,Female,3/19/1996,3:39 AM,57783,9.129,False,Finance
291,Tammy,Female,11/11/1984,10:30 AM,132839,17.463,True,Client Services
495,Eugene,Male,5/24/1984,10:54 AM,81077,2.117,False,Sales
688,Brian,Male,4/7/2007,10:47 PM,93901,17.821,True,Legal
832,Keith,Male,2/12/2003,3:02 PM,120672,19.467,False,Legal
887,David,Male,12/5/2009,8:48 AM,92242,15.407,False,Legal

In [25]:
data1=[1,2,3,4,5,3,4,7,8,9]

In [33]:
data1

[1, 2, 3, 3, 4, 4, 5, 7, 8, 9]

In [48]:
data2=sorted(data1, reverse=False)

In [49]:
data2

[1, 2, 3, 3, 4, 4, 5, 7, 8, 9]