In [ ]:
import pandas as pd

In [ ]:
from google.colab import files
files.upload()

Saving nba.csv to nba.csv

{'nba.csv': b"Name,Team,Number,Position,Age,Height,Weight,College,Salary\nAvery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0\nJae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0\nJohn Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,\nR.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0\nJonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,,5000000.0\nAmir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,,12000000.0\nJordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0\nKelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0\nTerry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0\nMarcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0\nJared Sullinger,Boston Celtics,7.0,C,24.0,6-9,260.0,Ohio State,2569260.0\nIsaiah Thomas,Boston Celtics,4.0,PG,27.0,5-9,185.0,Washington,6912869.0\nEvan Turner,Boston Celtics,11.0,SG,27.0,6-7,220.0,Ohio State,3425510.0\nJames Young,Boston Celtics,13.0,SG,20.0,6-6,215.0,Kentucky,1749840.0\nTyler Zeller,Boston Celtics,44.0,C,26.0,7-0,253.0,North Carolina,2616975.0\nBojan Bogdanovic,Brooklyn Nets,44.0,SG,27.0,6-8,216.0,,3425510.0\nMarkel Brown,Brooklyn Nets,22.0,SG,24.0,6-3,190.0,Oklahoma State,845059.0\nWayne Ellington,Brooklyn Nets,21.0,SG,28.0,6-4,200.0,North Carolina,1500000.0\nRondae Hollis-Jefferson,Brooklyn Nets,24.0,SG,21.0,6-7,220.0,Arizona,1335480.0\nJarrett Jack,Brooklyn Nets,2.0,PG,32.0,6-3,200.0,Georgia Tech,6300000.0\nSergey Karasev,Brooklyn Nets,10.0,SG,22.0,6-7,208.0,,1599840.0\nSean Kilpatrick,Brooklyn Nets,6.0,SG,26.0,6-4,219.0,Cincinnati,134215.0\nShane Larkin,Brooklyn Nets,0.0,PG,23.0,5-11,175.0,Miami (FL),1500000.0\nBrook Lopez,Brooklyn Nets,11.0,C,28.0,7-0,275.0,Stanford,19689000.0\nChris McCullough,Brooklyn Nets,1.0,PF,21.0,6-11,200.0,Syracuse,1140240.0\nWillie Reed,Brooklyn Nets,33.0,PF,26.0,6-10,220.0,Saint Louis,947276.0\nThomas Robinson,Brooklyn Nets,41.0,PF,25.0,6-10,237.0,Kansas,981348.0\nHenry Sims,Brooklyn Nets,14.0,C,26.0,6-10,248.0,Georgetown,947276.0\nDonald Sloan,Brooklyn Nets,15.0,PG,28.0,6-3,205.0,Texas A&M,947276.0\nThaddeus Young,Brooklyn Nets,30.0,PF,27.0,6-8,221.0,Georgia Tech,11235955.0\nArron Afflalo,New York Knicks,4.0,SG,30.0,6-5,210.0,UCLA,8000000.0\nLou Amundson,New York Knicks,17.0,PF,33.0,6-9,220.0,UNLV,1635476.0\nThanasis Antetokounmpo,New York Knicks,43.0,SF,23.0,6-7,205.0,,30888.0\nCarmelo Anthony,New York Knicks,7.0,SF,32.0,6-8,240.0,Syracuse,22875000.0\nJose Calderon,New York Knicks,3.0,PG,34.0,6-3,200.0,,7402812.0\nCleanthony Early,New York Knicks,11.0,SF,25.0,6-8,210.0,Wichita State,845059.0\nLangston Galloway,New York Knicks,2.0,SG,24.0,6-2,200.0,Saint Joseph's,845059.0\nJerian Grant,New York Knicks,13.0,PG,23.0,6-4,195.0,Notre Dame,1572360.0\nRobin Lopez,New York Knicks,8.0,C,28.0,7-0,255.0,Stanford,12650000.0\nKyle O'Quinn,New York Knicks,9.0,PF,26.0,6-10,250.0,Norfolk State,3750000.0\nKristaps Porzingis,New York Knicks,6.0,PF,20.0,7-3,240.0,,4131720.0\nKevin Seraphin,New York Knicks,1.0,C,26.0,6-10,278.0,,2814000.0\nLance Thomas,New York Knicks,42.0,SF,28.0,6-8,235.0,Duke,1636842.0\nSasha Vujacic,New York Knicks,18.0,SG,32.0,6-7,195.0,,947276.0\nDerrick Williams,New York Knicks,23.0,PF,25.0,6-8,240.0,Arizona,4000000.0\nTony Wroten,New York Knicks,5.0,SG,23.0,6-6,205.0,Washington,167406.0\nElton Brand,Philadelphia 76ers,42.0,PF,37.0,6-9,254.0,Duke,\nIsaiah Canaan,Philadelphia 76ers,0.0,PG,25.0,6-0,201.0,Murray State,947276.0\nRobert Covington,Philadelphia 76ers,33.0,SF,25.0,6-9,215.0,Tennessee State,1000000.0\nJoel Embiid,Philadelphia 76ers,21.0,C,22.0,7-0,250.0,Kansas,4626960.0\nJerami Grant,Philadelphia 76ers,39.0,SF,22.0,6-8,210.0,Syracuse,845059.0\nRichaun Holmes,Philadelphia 76ers,22.0,PF,22.0,6-10,245.0,Bowling Green,1074169.0\nCarl Landry,Philadelphia 76ers,7.0,PF,32.0,6-9,248.0,Purdue,6500000.0\nKendall Marshall,Philadelphia 76ers,5.0,PG,24.0,6-4,200.0,North Carolina,2144772.0\nT.J. McConnell,Philadelphia 76ers,12.0,PG,24.0,6-2,200.0,Arizona,525093.0\nNerlens Noel,Philadelphia 76ers,4.0,PF,22.0,6-11,228.0,Kentucky,3457800.0\nJahlil Okafor,Philadelphia 76ers,8.0,C,20.0,6-11,275.0,Duke,4582680.0\nIsh Smith,Philadelphia 76ers,1.0,PG,27.0,6-0,175.0,Wake Forest,947276.0\nNik Stauskas,Philadelphia 76ers,11.0,SG,22.0,6-6,205.0,Michigan,2869440.0\nHollis Thompson,Philadelphia 76ers,31.0,SG,25.0,6-8,206.0,Georgetown,947276.0\nChristian Wood,Philadelphia 76ers,35.0,PF,20.0,6-11,220.0,UNLV,525093.0\nBismack Biyombo,Toronto Raptors,8.0,C,23.0,6-9,245.0,,2814000.0\nBruno Caboclo,Toronto Raptors,20.0,SF,20.0,6-9,205.0,,1524000.0\nDeMarre Carroll,Toronto Raptors,5.0,SF,29.0,6-8,212.0,Missouri,13600000.0\nDeMar DeRozan,Toronto Raptors,10.0,SG,26.0,6-7,220.0,USC,10050000.0\nJames Johnson,Toronto Raptors,3.0,PF,29.0,6-9,250.0,Wake Forest,2500000.0\nCory Joseph,Toronto Raptors,6.0,PG,24.0,6-3,190.0,Texas,7000000.0\nKyle Lowry,Toronto Raptors,7.0,PG,30.0,6-0,205.0,Villanova,12000000.0\nLucas Nogueira,Toronto Raptors,92.0,C,23.0,7-0,220.0,,1842000.0\nPatrick Patterson,Toronto Raptors,54.0,PF,27.0,6-9,235.0,Kentucky,6268675.0\nNorman Powell,Toronto Raptors,24.0,SG,23.0,6-4,215.0,UCLA,650000.0\nTerrence Ross,Toronto Raptors,31.0,SF,25.0,6-7,195.0,Washington,3553917.0\nLuis Scola,Toronto Raptors,4.0,PF,36.0,6-9,240.0,,2900000.0\nJason Thompson,Toronto Raptors,1.0,PF,29.0,6-11,250.0,Rider,245177.0\nJonas Valanciunas,Toronto Raptors,17.0,C,24.0,7-0,255.0,,4660482.0\nDelon Wright,Toronto Raptors,55.0,PG,24.0,6-5,190.0,Utah,1509360.0\nLeandro Barbosa,Golden State Warriors,19.0,SG,33.0,6-3,194.0,,2500000.0\nHarrison Barnes,Golden State Warriors,40.0,SF,24.0,6-8,225.0,North Carolina,3873398.0\nAndrew Bogut,Golden State Warriors,12.0,C,31.0,7-0,260.0,Utah,13800000.0\nIan Clark,Golden State Warriors,21.0,SG,25.0,6-3,175.0,Belmont,947276.0\nStephen Curry,Golden State Warriors,30.0,PG,28.0,6-3,190.0,Davidson,11370786.0\nFestus Ezeli,Golden State Warriors,31.0,C,26.0,6-11,265.0,Vanderbilt,2008748.0\nDraymond Green,Golden State Warriors,23.0,PF,26.0,6-7,230.0,Michigan State,14260870.0\nAndre Iguodala,Golden State Warriors,9.0,SF,32.0,6-6,215.0,Arizona,11710456.0\nShaun Livingston,Golden State Warriors,34.0,PG,30.0,6-7,192.0,,5543725.0\nKevon Looney,Golden State Warriors,36.0,SF,20.0,6-9,220.0,UCLA,1131960.0\nJames Michael McAdoo,Golden State Warriors,20.0,SF,23.0,6-9,240.0,North Carolina,845059.0\nBrandon Rush,Golden State Warriors,4.0,SF,30.0,6-6,220.0,Kansas,1270964.0\nMarreese Speights,Golden State Warriors,5.0,C,28.0,6-10,255.0,Florida,3815000.0\nKlay Thompson,Golden State Warriors,11.0,SG,26.0,6-7,215.0,Washington State,15501000.0\nAnderson Varejao,Golden State Warriors,18.0,PF,33.0,6-11,273.0,,289755.0\nCole Aldrich,Los Angeles Clippers,45.0,C,27.0,6-11,250.0,Kansas,1100602.0\nJeff Ayres,Los Angeles Clippers,19.0,PF,29.0,6-9,250.0,Arizona State,111444.0\nJamal Crawford,Los Angeles Clippers,11.0,SG,36.0,6-5,195.0,Michigan,5675000.0\nBranden Dawson,Los Angeles Clippers,22.0,SF,23.0,6-6,225.0,Michigan State,525093.0\nJeff Green,Los Angeles Clippers,8.0,SF,29.0,6-9,235.0,Georgetown,9650000.0\nBlake Griffin,Los Angeles Clippers,32.0,PF,27.0,6-10,251.0,Oklahoma,18907726.0\nWesley Johnson,Los Angeles Clippers,33.0,SF,28.0,6-7,215.0,Syracuse,1100602.0\nDeAndre Jordan,Los Angeles Clippers,6.0,C,27.0,6-11,265.0,Texas A&M,19689000.0\nLuc Richard Mbah a Moute,Los Angeles Clippers,12.0,PF,29.0,6-8,230.0,UCLA,947276.0\nChris Paul,Los Angeles Clippers,3.0,PG,31.0,6-0,175.0,Wake Forest,21468695.0\nPaul Pierce,Los Angeles Clippers,34.0,SF,38.0,6-7,235.0,Kansas,3376000.0\nPablo Prigioni,Los Angeles Clippers,9.0,PG,39.0,6-3,185.0,,947726.0\nJJ Redick,Los Angeles Clippers,4.0,SG,31.0,6-4,190.0,Duke,7085000.0\nAustin Rivers,Los Angeles Clippers,25.0,PG,23.0,6-4,200.0,Duke,3110796.0\nC.J. Wilcox,Los Angeles Clippers,30.0,SG,25.0,6-5,195.0,Washington,1159680.0\nBrandon Bass,Los Angeles Lakers,2.0,PF,31.0,6-8,250.0,LSU,3000000.0\nTarik Black,Los Angeles Lakers,28.0,C,24.0,6-9,250.0,Kansas,845059.0\nAnthony Brown,Los Angeles Lakers,3.0,SF,23.0,6-7,210.0,Stanford,700000.0\nKobe Bryant,Los Angeles Lakers,24.0,SF,37.0,6-6,212.0,,25000000.0\nJordan Clarkson,Los Angeles Lakers,6.0,PG,24.0,6-5,194.0,Missouri,845059.0\nRoy Hibbert,Los Angeles Lakers,17.0,C,29.0,7-2,270.0,Georgetown,15592217.0\nMarcelo Huertas,Los Angeles Lakers,9.0,PG,33.0,6-3,200.0,,525093.0\nRyan Kelly,Los Angeles Lakers,4.0,PF,25.0,6-11,230.0,Duke,1724250.0\nLarry Nance Jr.,Los Angeles Lakers,7.0,PF,23.0,6-9,230.0,Wyoming,1155600.0\nJulius Randle,Los Angeles Lakers,30.0,PF,21.0,6-9,250.0,Kentucky,3132240.0\nD'Angelo Russell,Los Angeles Lakers,1.0,PG,20.0,6-5,195.0,Ohio State,5103120.0\nRobert Sacre,Los Angeles Lakers,50.0,C,27.0,7-0,270.0,Gonzaga,981348.0\nLouis Williams,Los Angeles Lakers,23.0,SG,29.0,6-1,175.0,,7000000.0\nMetta World Peace,Los Angeles Lakers,37.0,SF,36.0,6-7,260.0,St. John's,947276.0\nNick Young,Los Angeles Lakers,0.0,SF,31.0,6-7,210.0,USC,5219169.0\nEric Bledsoe,Phoenix Suns,2.0,PG,26.0,6-1,190.0,Kentucky,13500000.0\nDevin Booker,Phoenix Suns,1.0,SG,19.0,6-6,206.0,Kentucky,2127840.0\nChase Budinger,Phoenix Suns,10.0,SF,28.0,6-7,209.0,Arizona,206192.0\nTyson Chandler,Phoenix Suns,4.0,C,33.0,7-1,240.0,,13000000.0\nArchie Goodwin,Phoenix Suns,20.0,SG,21.0,6-5,200.0,Kentucky,1160160.0\nJohn Jenkins,Phoenix Suns,23.0,SG,25.0,6-4,215.0,Vanderbilt,981348.0\nBrandon Knight,Phoenix Suns,3.0,PG,24.0,6-3,189.0,Kentucky,13500000.0\nAlex Len,Phoenix Suns,21.0,C,22.0,7-1,260.0,Maryland,3807120.0\nJon Leuer,Phoenix Suns,30.0,PF,27.0,6-10,228.0,Wisconsin,1035000.0\nPhil Pressey,Phoenix Suns,25.0,PG,25.0,5-11,175.0,Missouri,55722.0\nRonnie Price,Phoenix Suns,14.0,PG,32.0,6-2,190.0,Utah Valley,947276.0\nMirza Teletovic,Phoenix Suns,35.0,PF,30.0,6-9,242.0,,5500000.0\nP.J. Tucker,Phoenix Suns,17.0,SF,31.0,6-6,245.0,Texas,5500000.0\nT.J. Warren,Phoenix Suns,12.0,SF,22.0,6-8,230.0,North Carolina State,2041080.0\nAlan Williams,Phoenix Suns,15.0,C,23.0,6-8,260.0,UC Santa Barbara,83397.0\nQuincy Acy,Sacramento Kings,13.0,SF,25.0,6-7,240.0,Baylor,981348.0\nJames Anderson,Sacramento Kings,5.0,SG,27.0,6-6,213.0,Oklahoma State,1015421.0\nMarco Belinelli,Sacramento Kings,3.0,SG,30.0,6-5,210.0,,6060606.0\nCaron Butler,Sacramento Kings,31.0,SF,36.0,6-7,228.0,Connecticut,1449187.0\nOmri Casspi,Sacramento Kings,18.0,SF,27.0,6-9,225.0,,2836186.0\nWillie Cauley-Stein,Sacramento Kings,0.0,C,22.0,7-0,240.0,Kentucky,3398280.0\nDarren Collison,Sacramento Kings,7.0,PG,28.0,6-0,175.0,UCLA,5013559.0\nDeMarcus Cousins,Sacramento Kings,15.0,C,25.0,6-11,270.0,Kentucky,15851950.0\nSeth Curry,Sacramento Kings,30.0,SG,25.0,6-2,185.0,Duke,947276.0\nDuje Dukan,Sacramento Kings,26.0,PF,24.0,6-9,220.0,Wisconsin,525093.0\nRudy Gay,Sacramento Kings,8.0,SF,29.0,6-8,230.0,Connecticut,12403101.0\nKosta Koufos,Sacramento Kings,41.0,C,27.0,7-0,265.0,Ohio State,7700000.0\nBen McLemore,Sacramento Kings,23.0,SG,23.0,6-5,195.0,Kansas,3156600.0\nEric Moreland,Sacramento Kings,25.0,PF,24.0,6-10,238.0,Oregon State,845059.0\nRajon Rondo,Sacramento Kings,9.0,PG,30.0,6-1,186.0,Kentucky,9500000.0\nCameron Bairstow,Chicago Bulls,41.0,PF,25.0,6-9,250.0,New Mexico,845059.0\nAaron Brooks,Chicago Bulls,0.0,PG,31.0,6-0,161.0,Oregon,2250000.0\nJimmy Butler,Chicago Bulls,21.0,SG,26.0,6-7,220.0,Marquette,16407500.0\nMike Dunleavy,Chicago Bulls,34.0,SG,35.0,6-9,230.0,Duke,4500000.0\nCristiano Felicio,Chicago Bulls,6.0,PF,23.0,6-10,275.0,,525093.0\nPau Gasol,Chicago Bulls,16.0,C,35.0,7-0,250.0,,7448760.0\nTaj Gibson,Chicago Bulls,22.0,PF,30.0,6-9,225.0,USC,8500000.0\nJustin Holiday,Chicago Bulls,7.0,SG,27.0,6-6,185.0,Washington,947276.0\nDoug McDermott,Chicago Bulls,3.0,SF,24.0,6-8,225.0,Creighton,2380440.0\nNikola Mirotic,Chicago Bulls,44.0,PF,25.0,6-10,220.0,,5543725.0\nE'Twaun Moore,Chicago Bulls,55.0,SG,27.0,6-4,191.0,Purdue,1015421.0\nJoakim Noah,Chicago Bulls,13.0,C,31.0,6-11,232.0,Florida,13400000.0\nBobby Portis,Chicago Bulls,5.0,PF,21.0,6-11,230.0,Arkansas,1391160.0\nDerrick Rose,Chicago Bulls,1.0,PG,27.0,6-3,190.0,Memphis,20093064.0\nTony Snell,Chicago Bulls,20.0,SF,24.0,6-7,200.0,New Mexico,1535880.0\nMatthew Dellavedova,Cleveland Cavaliers,8.0,PG,25.0,6-4,198.0,Saint Mary's,1147276.0\nChanning Frye,Cleveland Cavaliers,9.0,PF,33.0,6-11,255.0,Arizona,8193029.0\nKyrie Irving,Cleveland Cavaliers,2.0,PG,24.0,6-3,193.0,Duke,16407501.0\nLeBron James,Cleveland Cavaliers,23.0,SF,31.0,6-8,250.0,,22970500.0\nRichard Jefferson,Cleveland Cavaliers,24.0,SF,35.0,6-7,233.0,Arizona,947276.0\nDahntay Jones,Cleveland Cavaliers,30.0,SG,35.0,6-6,225.0,Duke,\nJames Jones,Cleveland Cavaliers,1.0,SG,35.0,6-8,218.0,Miami (FL),947276.0\nSasha Kaun,Cleveland Cavaliers,14.0,C,31.0,6-11,260.0,Kansas,1276000.0\nKevin Love,Cleveland Cavaliers,0.0,PF,27.0,6-10,251.0,UCLA,19689000.0\nJordan McRae,Cleveland Cavaliers,12.0,SG,25.0,6-5,179.0,Tennessee,111196.0\nTimofey Mozgov,Cleveland Cavaliers,20.0,C,29.0,7-1,275.0,,4950000.0\nIman Shumpert,Cleveland Cavaliers,4.0,SG,25.0,6-5,220.0,Georgia Tech,8988765.0\nJ.R. Smith,Cleveland Cavaliers,5.0,SG,30.0,6-6,225.0,,5000000.0\nTristan Thompson,Cleveland Cavaliers,13.0,C,25.0,6-9,238.0,Texas,14260870.0\nMo Williams,Cleveland Cavaliers,52.0,PG,33.0,6-1,198.0,Alabama,2100000.0\nJoel Anthony,Detroit Pistons,50.0,C,33.0,6-9,245.0,UNLV,2500000.0\nAron Baynes,Detroit Pistons,12.0,C,29.0,6-10,260.0,Washington State,6500000.0\nSteve Blake,Detroit Pistons,22.0,PG,36.0,6-3,172.0,Maryland,2170465.0\nLorenzo Brown,Detroit Pistons,17.0,PG,25.0,6-5,189.0,North Carolina State,111444.0\nReggie Bullock,Detroit Pistons,25.0,SF,25.0,6-7,205.0,North Carolina,1252440.0\nKentavious Caldwell-Pope,Detroit Pistons,5.0,SG,23.0,6-5,205.0,Georgia,2891760.0\nSpencer Dinwiddie,Detroit Pistons,8.0,PG,23.0,6-6,200.0,Colorado,845059.0\nAndre Drummond,Detroit Pistons,0.0,C,22.0,6-11,279.0,Connecticut,3272091.0\nTobias Harris,Detroit Pistons,34.0,SF,23.0,6-9,235.0,Tennessee,16000000.0\nDarrun Hilliard,Detroit Pistons,6.0,SF,23.0,6-6,205.0,Villanova,600000.0\nReggie Jackson,Detroit Pistons,1.0,PG,26.0,6-3,208.0,Boston College,13913044.0\nStanley Johnson,Detroit Pistons,3.0,SF,20.0,6-7,245.0,Arizona,2841960.0\nJodie Meeks,Detroit Pistons,20.0,SG,28.0,6-4,210.0,Kentucky,6270000.0\nMarcus Morris,Detroit Pistons,13.0,PF,26.0,6-9,235.0,Kansas,5000000.0\nAnthony Tolliver,Detroit Pistons,43.0,PF,31.0,6-8,240.0,Creighton,3000000.0\nLavoy Allen,Indiana Pacers,5.0,PF,27.0,6-9,255.0,Temple,4050000.0\nRakeem Christmas,Indiana Pacers,25.0,PF,24.0,6-9,250.0,Syracuse,1007026.0\nMonta Ellis,Indiana Pacers,11.0,SG,30.0,6-3,185.0,,10300000.0\nPaul George,Indiana Pacers,13.0,SF,26.0,6-9,220.0,Fresno State,17120106.0\nGeorge Hill,Indiana Pacers,3.0,PG,30.0,6-3,188.0,IUPUI,8000000.0\nJordan Hill,Indiana Pacers,27.0,C,28.0,6-10,235.0,Arizona,4000000.0\nSolomon Hill,Indiana Pacers,44.0,SF,25.0,6-7,225.0,Arizona,1358880.0\nTy Lawson,Indiana Pacers,10.0,PG,28.0,5-11,195.0,North Carolina,211744.0\nIan Mahinmi,Indiana Pacers,28.0,C,29.0,6-11,250.0,,4000000.0\nC.J. Miles,Indiana Pacers,0.0,SF,29.0,6-6,231.0,,4394225.0\nGlenn Robinson III,Indiana Pacers,40.0,SG,22.0,6-7,222.0,Michigan,1100000.0\nRodney Stuckey,Indiana Pacers,2.0,PG,30.0,6-5,205.0,Eastern Washington,7000000.0\nMyles Turner,Indiana Pacers,33.0,PF,20.0,6-11,243.0,Texas,2357760.0\nShayne Whittington,Indiana Pacers,42.0,PF,25.0,6-11,250.0,Western Michigan,845059.0\nJoe Young,Indiana Pacers,1.0,PG,23.0,6-2,180.0,Oregon,1007026.0\nGiannis Antetokounmpo,Milwaukee Bucks,34.0,SF,21.0,6-11,222.0,,1953960.0\nJerryd Bayless,Milwaukee Bucks,19.0,PG,27.0,6-3,200.0,Arizona,3000000.0\nMichael Carter-Williams,Milwaukee Bucks,5.0,PG,24.0,6-6,190.0,Syracuse,2399040.0\nJared Cunningham,Milwaukee Bucks,9.0,SG,25.0,6-4,195.0,Oregon State,947276.0\nTyler Ennis,Milwaukee Bucks,11.0,PG,21.0,6-3,194.0,Syracuse,1662360.0\nJohn Henson,Milwaukee Bucks,31.0,PF,25.0,6-11,229.0,North Carolina,2943221.0\nDamien Inglis,Milwaukee Bucks,17.0,SF,21.0,6-8,246.0,,855000.0\nO.J. Mayo,Milwaukee Bucks,3.0,SG,28.0,6-5,210.0,USC,8000000.0\nKhris Middleton,Milwaukee Bucks,22.0,SG,24.0,6-8,234.0,Texas A&M,14700000.0\nGreg Monroe,Milwaukee Bucks,15.0,C,26.0,6-11,265.0,Georgetown,16407500.0\nSteve Novak,Milwaukee Bucks,6.0,SF,32.0,6-10,225.0,Marquette,295327.0\nJohnny O'Bryant III,Milwaukee Bucks,77.0,PF,23.0,6-9,257.0,LSU,845059.0\nJabari Parker,Milwaukee Bucks,12.0,PF,21.0,6-8,250.0,Duke,5152440.0\nMiles Plumlee,Milwaukee Bucks,18.0,C,27.0,6-11,249.0,Duke,2109294.0\nGreivis Vasquez,Milwaukee Bucks,21.0,PG,29.0,6-6,217.0,Maryland,6600000.0\nRashad Vaughn,Milwaukee Bucks,20.0,SG,19.0,6-6,202.0,UNLV,1733040.0\nJustin Anderson,Dallas Mavericks,1.0,SG,22.0,6-6,228.0,Virginia,1449000.0\nJ.J. Barea,Dallas Mavericks,5.0,PG,31.0,6-0,185.0,Northeastern,4290000.0\nJeremy Evans,Dallas Mavericks,21.0,SF,28.0,6-9,200.0,Western Kentucky,1100602.0\nRaymond Felton,Dallas Mavericks,2.0,PG,31.0,6-1,205.0,North Carolina,3950313.0\nDevin Harris,Dallas Mavericks,34.0,PG,33.0,6-3,185.0,Wisconsin,4053446.0\nDavid Lee,Dallas Mavericks,42.0,PF,33.0,6-9,245.0,Florida,2085671.0\nWesley Matthews,Dallas Mavericks,23.0,SG,29.0,6-5,220.0,Marquette,16407500.0\nJaVale McGee,Dallas Mavericks,11.0,C,28.0,7-0,270.0,Nevada,1270964.0\nSalah Mejri,Dallas Mavericks,50.0,C,29.0,7-2,245.0,,525093.0\nDirk Nowitzki,Dallas Mavericks,41.0,PF,37.0,7-0,245.0,,8333334.0\nZaza Pachulia,Dallas Mavericks,27.0,C,32.0,6-11,275.0,,5200000.0\nChandler Parsons,Dallas Mavericks,25.0,SF,27.0,6-10,230.0,Florida,15361500.0\nDwight Powell,Dallas Mavericks,7.0,PF,24.0,6-11,240.0,Stanford,845059.0\nCharlie Villanueva,Dallas Mavericks,3.0,PF,31.0,6-11,232.0,Connecticut,947276.0\nDeron Williams,Dallas Mavericks,8.0,PG,31.0,6-3,200.0,Illinois,5378974.0\nTrevor Ariza,Houston Rockets,1.0,SF,30.0,6-8,215.0,UCLA,8193030.0\nMichael Beasley,Houston Rockets,8.0,SF,27.0,6-10,235.0,Kansas State,306527.0\nPatrick Beverley,Houston Rockets,2.0,PG,27.0,6-1,185.0,Arkansas,6486486.0\nCorey Brewer,Houston Rockets,33.0,SG,30.0,6-9,186.0,Florida,8229375.0\nClint Capela,Houston Rockets,15.0,PF,22.0,6-10,240.0,,1242720.0\nSam Dekker,Houston Rockets,7.0,SF,22.0,6-9,230.0,Wisconsin,1646400.0\nAndrew Goudelock,Houston Rockets,0.0,PG,27.0,6-3,200.0,Charleston,200600.0\nJames Harden,Houston Rockets,13.0,SG,26.0,6-5,220.0,Arizona State,15756438.0\nMontrezl Harrell,Houston Rockets,35.0,PF,22.0,6-8,240.0,Louisville,1000000.0\nDwight Howard,Houston Rockets,12.0,C,30.0,6-11,265.0,,22359364.0\nTerrence Jones,Houston Rockets,6.0,PF,24.0,6-9,252.0,Kentucky,2489530.0\nK.J. McDaniels,Houston Rockets,32.0,SG,23.0,6-6,205.0,Clemson,3189794.0\nDonatas Motiejunas,Houston Rockets,20.0,PF,25.0,7-0,222.0,,2288205.0\nJosh Smith,Houston Rockets,5.0,C,30.0,6-9,225.0,,947276.0\nJason Terry,Houston Rockets,31.0,SG,38.0,6-2,185.0,Arizona,947276.0\nJordan Adams,Memphis Grizzlies,3.0,SG,21.0,6-5,209.0,UCLA,1404600.0\nTony Allen,Memphis Grizzlies,9.0,SG,34.0,6-4,213.0,Oklahoma State,5158539.0\nChris Andersen,Memphis Grizzlies,7.0,PF,37.0,6-10,245.0,Blinn College,5000000.0\nMatt Barnes,Memphis Grizzlies,22.0,SF,36.0,6-7,226.0,UCLA,3542500.0\nVince Carter,Memphis Grizzlies,15.0,SG,39.0,6-6,220.0,North Carolina,4088019.0\nMike Conley,Memphis Grizzlies,11.0,PG,28.0,6-1,175.0,Ohio State,9588426.0\nBryce Cotton,Memphis Grizzlies,8.0,PG,23.0,6-1,165.0,Providence,700902.0\nJordan Farmar,Memphis Grizzlies,4.0,PG,29.0,6-2,180.0,UCLA,\nMarc Gasol,Memphis Grizzlies,33.0,C,31.0,7-1,255.0,,19688000.0\nJaMychal Green,Memphis Grizzlies,0.0,PF,25.0,6-9,227.0,Alabama,845059.0\nP.J. Hairston,Memphis Grizzlies,19.0,SF,23.0,6-6,230.0,North Carolina,1201440.0\nJarell Martin,Memphis Grizzlies,10.0,PF,22.0,6-10,239.0,LSU,1230840.0\nRay McCallum,Memphis Grizzlies,5.0,PG,24.0,6-3,190.0,Detroit,\nXavier Munford,Memphis Grizzlies,14.0,PG,24.0,6-3,180.0,Rhode Island,\nZach Randolph,Memphis Grizzlies,50.0,PF,34.0,6-9,260.0,Michigan State,9638555.0\nLance Stephenson,Memphis Grizzlies,1.0,SF,25.0,6-5,230.0,Cincinnati,9000000.0\nAlex Stepheson,Memphis Grizzlies,35.0,PF,28.0,6-10,270.0,USC,\nBrandan Wright,Memphis Griz

In [ ]:
df = pd.read_csv("nba.csv")

In [ ]:
df.head()

            Name            Team  Number  ... Weight            College     Salary
0  Avery Bradley  Boston Celtics     0.0  ...  180.0              Texas  7730337.0
1    Jae Crowder  Boston Celtics    99.0  ...  235.0          Marquette  6796117.0
2   John Holland  Boston Celtics    30.0  ...  205.0  Boston University        NaN
3    R.J. Hunter  Boston Celtics    28.0  ...  185.0      Georgia State  1148640.0
4  Jonas Jerebko  Boston Celtics     8.0  ...  231.0                NaN  5000000.0

[5 rows x 9 columns]

In [ ]:
df.tail()

             Name       Team  Number Position  ...  Height Weight  College     Salary
453  Shelvin Mack  Utah Jazz     8.0       PG  ...     6-3  203.0   Butler  2433333.0
454     Raul Neto  Utah Jazz    25.0       PG  ...     6-1  179.0      NaN   900000.0
455  Tibor Pleiss  Utah Jazz    21.0        C  ...     7-3  256.0      NaN  2900000.0
456   Jeff Withey  Utah Jazz    24.0        C  ...     7-0  231.0   Kansas   947276.0
457           NaN        NaN     NaN      NaN  ...     NaN    NaN      NaN        NaN

[5 rows x 9 columns]

In [ ]:
df.index

RangeIndex(start=0, stop=458, step=1)

In [ ]:
df.values

array([['Avery Bradley', 'Boston Celtics', 0.0, ..., 180.0, 'Texas',
        7730337.0],
       ['Jae Crowder', 'Boston Celtics', 99.0, ..., 235.0, 'Marquette',
        6796117.0],
       ['John Holland', 'Boston Celtics', 30.0, ..., 205.0,
        'Boston University', nan],
       ...,
       ['Tibor Pleiss', 'Utah Jazz', 21.0, ..., 256.0, nan, 2900000.0],
       ['Jeff Withey', 'Utah Jazz', 24.0, ..., 231.0, 'Kansas', 947276.0],
       [nan, nan, nan, ..., nan, nan, nan]], dtype=object)

In [ ]:
df.shape

(458, 9)

In [ ]:
df.dtypes

Name         object
Team         object
Number      float64
Position     object
Age         float64
Height       object
Weight      float64
College      object
Salary      float64
dtype: object

In [ ]:
df.columns

Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
       'College', 'Salary'],
      dtype='object')

In [ ]:
df.axes

[RangeIndex(start=0, stop=458, step=1),
 Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
        'College', 'Salary'],
       dtype='object')]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      457 non-null    object
 1   Team      457 non-null    object
 2   Number    457 non-null    float64
 3   Position  457 non-null    object
 4   Age       457 non-null    float64
 5   Height    457 non-null    object
 6   Weight    457 non-null    float64
 7   College   373 non-null    object
 8   Salary    446 non-null    float64
dtypes: float64(4), object(5)
memory usage: 32.3+ KB

In [ ]:
Perbedaan antara DataFrame dan Series untuk shared method

In [ ]:
from google.colab import files
files.upload()

Saving revenue.csv to revenue.csv

{'revenue.csv': b'Date,New York,Los Angeles,Miami\r\n1/1/16,985,122,499\r\n1/2/16,738,788,534\r\n1/3/16,14,20,933\r\n1/4/16,730,904,885\r\n1/5/16,114,71,253\r\n1/6/16,936,502,497\r\n1/7/16,123,996,115\r\n1/8/16,935,492,886\r\n1/9/16,846,954,823\r\n1/10/16,54,285,216'}

In [ ]:
df = pd.read_csv("revenue.csv", index_col="Date")
df.head()

FileNotFoundError: ignored

In [ ]:
sr = pd.Series([1, 1, 2, 3])
sr

0    1
1    1
2    2
3    3
dtype: int64

In [ ]:
sr.sum()

7

In [ ]:
df.sum(axis=0)

New York       5475
Los Angeles    5134
Miami          5641
dtype: int64

In [ ]:
df.sum(axis=0)

New York       5475
Los Angeles    5134
Miami          5641
dtype: int64

In [ ]:
df.Name

0      Avery Bradley
1        Jae Crowder
2       John Holland
3        R.J. Hunter
4      Jonas Jerebko
           ...
453     Shelvin Mack
454        Raul Neto
455     Tibor Pleiss
456      Jeff Withey
457              NaN
Name: Name, Length: 458, dtype: object

In [ ]:
df["Name"]

0      Avery Bradley
1        Jae Crowder
2       John Holland
3        R.J. Hunter
4      Jonas Jerebko
           ...
453     Shelvin Mack
454        Raul Neto
455     Tibor Pleiss
456      Jeff Withey
457              NaN
Name: Name, Length: 458, dtype: object

In [ ]:
df[["Name", "Team"]]

              Name            Team
0    Avery Bradley  Boston Celtics
1      Jae Crowder  Boston Celtics
2     John Holland  Boston Celtics
3      R.J. Hunter  Boston Celtics
4    Jonas Jerebko  Boston Celtics
..             ...             ...
453   Shelvin Mack       Utah Jazz
454      Raul Neto       Utah Jazz
455   Tibor Pleiss       Utah Jazz
456    Jeff Withey       Utah Jazz
457            NaN             NaN

[458 rows x 2 columns]

Menambah Kolom Baru

In [ ]:
df["Sport"] = "Basketball"

In [ ]:
df.head()

            Name            Team  ...     Salary       Sport
0  Avery Bradley  Boston Celtics  ...  7730337.0  Basketball
1    Jae Crowder  Boston Celtics  ...  6796117.0  Basketball
2   John Holland  Boston Celtics  ...        NaN  Basketball
3    R.J. Hunter  Boston Celtics  ...  1148640.0  Basketball
4  Jonas Jerebko  Boston Celtics  ...  5000000.0  Basketball

[5 rows x 10 columns]

In [ ]:
df.insert(3, column="Sport", value="Basketball")

In [ ]:
df.head()

            Name            Team  Number  ... Weight            College     Salary
0  Avery Bradley  Boston Celtics     0.0  ...  180.0              Texas  7730337.0
1    Jae Crowder  Boston Celtics    99.0  ...  235.0          Marquette  6796117.0
2   John Holland  Boston Celtics    30.0  ...  205.0  Boston University        NaN
3    R.J. Hunter  Boston Celtics    28.0  ...  185.0      Georgia State  1148640.0
4  Jonas Jerebko  Boston Celtics     8.0  ...  231.0                NaN  5000000.0

[5 rows x 10 columns]

Broadcast Operation

In [ ]:
df["Age"].add(5)
df["Age"] + 5

0      30.0
1      30.0
2      32.0
3      27.0
4      34.0
       ...
453    31.0
454    29.0
455    31.0
456    31.0
457     NaN
Name: Age, Length: 458, dtype: float64

In [ ]:
df["Age"].sub(5)
df["Age"] - 5

0      20.0
1      20.0
2      22.0
3      17.0
4      24.0
       ...
453    21.0
454    19.0
455    21.0
456    21.0
457     NaN
Name: Age, Length: 458, dtype: float64

In [ ]:
df["Age"].mul(2)
df["Age"] * 2

0      50.0
1      50.0
2      54.0
3      44.0
4      58.0
       ...
453    52.0
454    48.0
455    52.0
456    52.0
457     NaN
Name: Age, Length: 458, dtype: float64

In [ ]:
df["Age"].div(2)
df["Age"] / 2

0      12.5
1      12.5
2      13.5
3      11.0
4      14.5
       ...
453    13.0
454    12.0
455    13.0
456    13.0
457     NaN
Name: Age, Length: 458, dtype: float64

In [ ]:
df["Salary in Million"] = df["Salary"].div(1000000)

In [ ]:
df.head()

            Name            Team  Number  ... Weight            College     Salary
0  Avery Bradley  Boston Celtics     0.0  ...  180.0              Texas  7730337.0
1    Jae Crowder  Boston Celtics    99.0  ...  235.0          Marquette  6796117.0
2   John Holland  Boston Celtics    30.0  ...  205.0  Boston University        NaN
3    R.J. Hunter  Boston Celtics    28.0  ...  185.0      Georgia State  1148640.0
4  Jonas Jerebko  Boston Celtics     8.0  ...  231.0                NaN  5000000.0

[5 rows x 9 columns]

Menggunakan value_counts()

In [ ]:
df["Position"].value_counts()

SG    102
PF    100
PG     92
SF     85
C      78
Name: Position, dtype: int64

In [ ]:
df["Position"].value_counts().head(1)

SG    102
Name: Position, dtype: int64

Menghapus data NaN

In [ ]:
df.head()

            Name            Team  Number  ... Weight            College     Salary
0  Avery Bradley  Boston Celtics     0.0  ...  180.0              Texas  7730337.0
1    Jae Crowder  Boston Celtics    99.0  ...  235.0          Marquette  6796117.0
2   John Holland  Boston Celtics    30.0  ...  205.0  Boston University        NaN
3    R.J. Hunter  Boston Celtics    28.0  ...  185.0      Georgia State  1148640.0
4  Jonas Jerebko  Boston Celtics     8.0  ...  231.0                NaN  5000000.0

[5 rows x 9 columns]

In [ ]:
df.dropna(how="all")

              Name            Team  ...            College     Salary
0    Avery Bradley  Boston Celtics  ...              Texas  7730337.0
1      Jae Crowder  Boston Celtics  ...          Marquette  6796117.0
2     John Holland  Boston Celtics  ...  Boston University        NaN
3      R.J. Hunter  Boston Celtics  ...      Georgia State  1148640.0
4    Jonas Jerebko  Boston Celtics  ...                NaN  5000000.0
..             ...             ...  ...                ...        ...
452     Trey Lyles       Utah Jazz  ...           Kentucky  2239800.0
453   Shelvin Mack       Utah Jazz  ...             Butler  2433333.0
454      Raul Neto       Utah Jazz  ...                NaN   900000.0
455   Tibor Pleiss       Utah Jazz  ...                NaN  2900000.0
456    Jeff Withey       Utah Jazz  ...             Kansas   947276.0

[457 rows x 9 columns]

In [ ]:
df.dropna(how="all", inplace=True)

In [ ]:
df.dropna(axis=1)

              Name            Team  Number Position   Age Height  Weight
0    Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1      Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2     John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3      R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4    Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
..             ...             ...     ...      ...   ...    ...     ...
452     Trey Lyles       Utah Jazz    41.0       PF  20.0   6-10   234.0
453   Shelvin Mack       Utah Jazz     8.0       PG  26.0    6-3   203.0
454      Raul Neto       Utah Jazz    25.0       PG  24.0    6-1   179.0
455   Tibor Pleiss       Utah Jazz    21.0        C  26.0    7-3   256.0
456    Jeff Withey       Utah Jazz    24.0        C  26.0    7-0   231.0

[457 rows x 7 columns]

In [ ]:
df.dropna(subset=["Salary"])

              Name            Team  Number  ... Weight        College      Salary
0    Avery Bradley  Boston Celtics     0.0  ...  180.0          Texas   7730337.0
1      Jae Crowder  Boston Celtics    99.0  ...  235.0      Marquette   6796117.0
3      R.J. Hunter  Boston Celtics    28.0  ...  185.0  Georgia State   1148640.0
4    Jonas Jerebko  Boston Celtics     8.0  ...  231.0            NaN   5000000.0
5     Amir Johnson  Boston Celtics    90.0  ...  240.0            NaN  12000000.0
..             ...             ...     ...  ...    ...            ...         ...
452     Trey Lyles       Utah Jazz    41.0  ...  234.0       Kentucky   2239800.0
453   Shelvin Mack       Utah Jazz     8.0  ...  203.0         Butler   2433333.0
454      Raul Neto       Utah Jazz    25.0  ...  179.0            NaN    900000.0
455   Tibor Pleiss       Utah Jazz    21.0  ...  256.0            NaN   2900000.0
456    Jeff Withey       Utah Jazz    24.0  ...  231.0         Kansas    947276.0

[446 rows x 9 columns]

Mengganti nilai NaN

In [ ]:
df["Salary"].fillna(0, inplace=True)

              Name            Team  ...            College     Salary
0    Avery Bradley  Boston Celtics  ...              Texas  7730337.0
1      Jae Crowder  Boston Celtics  ...          Marquette  6796117.0
2     John Holland  Boston Celtics  ...  Boston University        0.0
3      R.J. Hunter  Boston Celtics  ...      Georgia State  1148640.0
4    Jonas Jerebko  Boston Celtics  ...                NaN  5000000.0
..             ...             ...  ...                ...        ...
453   Shelvin Mack       Utah Jazz  ...             Butler  2433333.0
454      Raul Neto       Utah Jazz  ...                NaN   900000.0
455   Tibor Pleiss       Utah Jazz  ...                NaN  2900000.0
456    Jeff Withey       Utah Jazz  ...             Kansas   947276.0
457            NaN             NaN  ...                NaN        0.0

[458 rows x 9 columns]

In [ ]:
df["College"].fillna("No College", inplace=True)

In [ ]:
df.head()

            Name            Team  Number  ... Weight            College     Salary
0  Avery Bradley  Boston Celtics     0.0  ...  180.0              Texas  7730337.0
1    Jae Crowder  Boston Celtics    99.0  ...  235.0          Marquette  6796117.0
2   John Holland  Boston Celtics    30.0  ...  205.0  Boston University        0.0
3    R.J. Hunter  Boston Celtics    28.0  ...  185.0      Georgia State  1148640.0
4  Jonas Jerebko  Boston Celtics     8.0  ...  231.0         No College  5000000.0

[5 rows x 9 columns]

In [ ]:
df.dtypes

Name         object
Team         object
Number      float64
Position     object
Age         float64
Height       object
Weight      float64
College      object
Salary      float64
dtype: object

In [ ]:
df["Salary"] = df["Salary"].astype("int")

In [ ]:
df.dtypes

Name         object
Team         object
Number      float64
Position     object
Age         float64
Height       object
Weight      float64
College      object
Salary        int64
dtype: object

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      457 non-null    object
 1   Team      457 non-null    object
 2   Number    457 non-null    float64
 3   Position  457 non-null    object
 4   Age       457 non-null    float64
 5   Height    457 non-null    object
 6   Weight    457 non-null    float64
 7   College   458 non-null    object
 8   Salary    458 non-null    int64
dtypes: float64(3), int64(1), object(5)
memory usage: 32.3+ KB

In [ ]:
df["Age"].fillna(0, inplace=True)

In [ ]:
df["Number"].fillna(0, inplace = True)

In [ ]:
df["Age"] = df["Age"].astype("int")
df["Number"] = df["Number"].astype("int")

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      457 non-null    object
 1   Team      457 non-null    object
 2   Number    458 non-null    int64
 3   Position  457 non-null    object
 4   Age       458 non-null    int64
 5   Height    457 non-null    object
 6   Weight    457 non-null    float64
 7   College   458 non-null    object
 8   Salary    458 non-null    int64
dtypes: float64(1), int64(3), object(5)
memory usage: 32.3+ KB

In [ ]:
df["Position"].nunique()

5

In [ ]:
df["Position"] = df["Position"].astype("category")

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      457 non-null    object
 1   Team      457 non-null    object
 2   Number    458 non-null    int64
 3   Position  457 non-null    category
 4   Age       458 non-null    int64
 5   Height    457 non-null    object
 6   Weight    457 non-null    float64
 7   College   458 non-null    object
 8   Salary    458 non-null    int64
dtypes: category(1), float64(1), int64(3), object(4)
memory usage: 29.4+ KB

Sort Value

In [ ]:
df.sort_values("Name")

               Name                    Team  ...         College      Salary
152    Aaron Brooks           Chicago Bulls  ...          Oregon   2250000.0
356    Aaron Gordon           Orlando Magic  ...         Arizona   4171680.0
328  Aaron Harrison       Charlotte Hornets  ...        Kentucky    525093.0
404   Adreian Payne  Minnesota Timberwolves  ...  Michigan State   1938840.0
312      Al Horford           Atlanta Hawks  ...         Florida  12000000.0
..              ...                     ...  ...             ...         ...
270  Xavier Munford       Memphis Grizzlies  ...    Rhode Island         NaN
402     Zach LaVine  Minnesota Timberwolves  ...            UCLA   2148360.0
271   Zach Randolph       Memphis Grizzlies  ...  Michigan State   9638555.0
237   Zaza Pachulia        Dallas Mavericks  ...             NaN   5200000.0
457             NaN                     NaN  ...             NaN         NaN

[458 rows x 9 columns]

In [ ]:
df.sort_values("Salary", na_position="first")

                Name                 Team  ...            College      Salary
2       John Holland       Boston Celtics  ...  Boston University         NaN
46       Elton Brand   Philadelphia 76ers  ...               Duke         NaN
171    Dahntay Jones  Cleveland Cavaliers  ...               Duke         NaN
264    Jordan Farmar    Memphis Grizzlies  ...               UCLA         NaN
269     Ray McCallum    Memphis Grizzlies  ...            Detroit         NaN
..               ...                  ...  ...                ...         ...
339       Chris Bosh           Miami Heat  ...       Georgia Tech  22192730.0
251    Dwight Howard      Houston Rockets  ...                NaN  22359364.0
33   Carmelo Anthony      New York Knicks  ...           Syracuse  22875000.0
169     LeBron James  Cleveland Cavaliers  ...                NaN  22970500.0
109      Kobe Bryant   Los Angeles Lakers  ...                NaN  25000000.0

[458 rows x 9 columns]

In [ ]:
df.sort_values(["Team", "Name"])

                Name                Team  ...       College      Salary
312       Al Horford       Atlanta Hawks  ...       Florida  12000000.0
318  Dennis Schroder       Atlanta Hawks  ...           NaN   1763400.0
323      Jeff Teague       Atlanta Hawks  ...   Wake Forest   8000000.0
309    Kent Bazemore       Atlanta Hawks  ...  Old Dominion   2000000.0
311     Kirk Hinrich       Atlanta Hawks  ...        Kansas   2854940.0
..               ...                 ...  ...           ...         ...
376  Markieff Morris  Washington Wizards  ...        Kansas   8000000.0
375     Nene Hilario  Washington Wizards  ...           NaN  13000000.0
378  Otto Porter Jr.  Washington Wizards  ...    Georgetown   4662960.0
379   Ramon Sessions  Washington Wizards  ...        Nevada   2170465.0
457              NaN                 NaN  ...           NaN         NaN

[458 rows x 9 columns]

In [ ]:
df.sort_values(["Team", "Name"], ascending=[True, False])

                 Name                Team  ...         College      Salary
322    Walter Tavares       Atlanta Hawks  ...             NaN   1000000.0
310  Tim Hardaway Jr.       Atlanta Hawks  ...        Michigan   1304520.0
321    Tiago Splitter       Atlanta Hawks  ...             NaN   9756250.0
320   Thabo Sefolosha       Atlanta Hawks  ...             NaN   4000000.0
315      Paul Millsap       Atlanta Hawks  ...  Louisiana Tech  18671659.0
..                ...                 ...  ...             ...         ...
380    Garrett Temple  Washington Wizards  ...             LSU   1100602.0
372       Drew Gooden  Washington Wizards  ...          Kansas   3300000.0
369      Bradley Beal  Washington Wizards  ...         Florida   5694674.0
368     Alan Anderson  Washington Wizards  ...  Michigan State   4000000.0
457               NaN                 NaN  ...             NaN         NaN

[458 rows x 9 columns]

Menggunakan rank()

In [ ]:
df.dropna(how="all", inplace=True)
df["Salary"] = df["Salary"].fillna(0).astype("int")

In [ ]:
df["Salary"].rank(ascending=False).astype("int")

0       97
1      110
2      452
3      322
4      147
      ...
452    250
453    241
454    383
455    214
456    367
Name: Salary, Length: 457, dtype: int64

In [ ]:
df["Salary Rank"] = df["Salary"].rank(ascending=False).astype("int")

In [ ]:
df.sort_values("Salary", ascending=False)

                Name                    Team  ...    Salary Salary Rank
109      Kobe Bryant      Los Angeles Lakers  ...  25000000           1
169     LeBron James     Cleveland Cavaliers  ...  22970500           2
33   Carmelo Anthony         New York Knicks  ...  22875000           3
251    Dwight Howard         Houston Rockets  ...  22359364           4
339       Chris Bosh              Miami Heat  ...  22192730           5
..               ...                     ...  ...       ...         ...
353    Dorell Wright              Miami Heat  ...         0         452
264    Jordan Farmar       Memphis Grizzlies  ...         0         452
409       Greg Smith  Minnesota Timberwolves  ...         0         452
273   Alex Stepheson       Memphis Grizzlies  ...         0         452
270   Xavier Munford       Memphis Grizzlies  ...         0         452

[457 rows x 10 columns]